name: ShellCheck
on:
  push:
    tags:
      - v*
    branches:
      - main
      - release-*
  pull_request:
    branches:
      - main
      - release-*

# cancel the in-progress workflow when PR is refreshed.
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  checkmake:
    name: CheckMake
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: install shellcheck
        run: |
          sudo apt-get update
          sudo apt-get install -y wget
          wget https://github.com/mrtazz/checkmake/releases/download/0.2.2/checkmake-0.2.2.linux.amd64
          sudo install ./checkmake-0.2.2.linux.amd64  /usr/local/bin/checkmake
      - name: Run CheckMake
        run: make checkmake
